<div class="container">
    <div class="formularyContainer">
        <form #formRef="ngForm" class="formulary" (ngSubmit)="onSubmit(formRef)">
            <h2 class="titleFormulary">Registro</h2>
            
            <!--Campo Nome-->
            <input [(ngModel)]="user.nome" name="nome" class="input" type="text" placeholder="Digite o seu nome" required minlength="5" #nome="ngModel">
            <p class="error" *ngIf="nome.invalid && (nome.touched || nome.dirty)">
                Nome é obrigatório e deve ter pelo menos 5 caracteres.
              </p>

            <!--Campo Email-->
            <input [(ngModel)]="user.email" name="email" class="input" type="email" placeholder="Digite seu email (fictício)" required #email="ngModel" email>
            <p class="error" *ngIf="email.invalid && incompletFormulary">
                <span *ngIf="email.errors?.['required']">Email é obrigatório.</span>
                <span *ngIf="email.errors?.['email']">Email inválido.</span>
              </p>

            <!--Campo Sexo-->
            <label class="label" for="sexo">Sexo</label>
            <div class="inputRadio">
             <label>   
             <input [(ngModel)]="user.sexo" name="sexo" type="radio" value="Masculino" required>
              <span class="span">Masculino</span>
            </label>
            <label>
             <input [(ngModel)]="user.sexo" name="sexo" type="radio" value="Feminino">
              <span class="span">Feminino</span>
            </label>
            </div>
            <div class="button">
                <button type="submit" class="btn"><i class="animation"></i>ENVIAR<i class="animation"></i>
                </button>   
            </div>
            <app-alert></app-alert>
            <div *ngIf="incompletFormulary" class="errorMessage">
                <span>Seu formulário não está completo!</span>
            </div>
        </form>
    </div>
    <!--Imagem do Registro-->
    <div class="image">
        <img src="../../../assets/IconsNotebook.png" alt="imagem de um notebook">
    </div>
</div>
