<div class="container">
    <div class="imagem">
        <img src="../../../assets/IconsNotebook.png" alt="imagem de um notebook">
    </div>
    <div class="formularioContainer">
        <form class="formulario">
            <h2 class="tituloDoFormulario">Registro</h2>
            <!--Campo Nome-->
            <input class="input" type="text" placeholder="Digite o seu nome">

            <!--Campo Email-->
            <input class="input" type="text" placeholder="Digite seu email (fictício)">

            <!--Campo Sexo-->
            <label class="label" for="sexo">Sexo</label>
            <div class="inputRadio">
             <input type="radio" name="sexo" value="masculino">
              <span class="span">Masculino</span>
             <input type="radio" name="sexo" value="feminino">
              <span class="span">Feminino</span>
            </div>
            <button class="botaoEnviar">Enviar</button>
        </form>
    </div>
</div>
