.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 60vh;
    border-radius: 0.4rem;
    background-color: rgb(215, 210, 210);
    overflow-y: auto;
}

.semCadastros{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}