.alert-box {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #eaae16;
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
  }
  
  .text{
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .progress-container {
    width: 100%;
    background-color: #ddd;
    height: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #ffffff;
    width: 0%;
    border-radius: 5px;
  }

  @media (max-width:800px) {
    .text {
      font-size: 0.9rem;
    }
  }