.container {
    width: 78vw;
    height: 10vh;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.7rem;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    background-color: rgba(171, 162, 162, 0.59);
    cursor: pointer;
}

.textName {
    font-size: 1.26rem;
    font-weight: bold;
    width: 26%;
    text-align: center;
}

.textEmail {
  font-size: 1.26rem;
  font-weight: bold;
  width: 26%;
  text-align: center;
}

.textGender {
  font-size: 1.26rem;
  font-weight: bold;
  width: 26%;
  text-align: center;
}

.span {
  color: rgb(201, 5, 5);
}

.containerButton{
    display: flex;
    gap: 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: clamp(5vw, 6vw, 6vw);
    height: 3.5vh;
    border-radius: 30px;
    border: 1px solid;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: clamp(12px, 1vw, 14px);
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  /* Botão Alterar (Amarelo) */
  .update {
    background-image: linear-gradient(to top, #d9ad1c 0%, #eaae16 80%, #f2e70d 100%);
    border-color: #e19a28;
    color: #333;
  }
  
  .update:hover {
    box-shadow: inset 0 0 2px 2px #eac93b, 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
  
  .update:active,
  .update:focus {
    box-shadow: inset 0 0 3px 2px #b57d10, 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
  }
  
  /* Botão Excluir (Vermelho) */
  .delete {
    background-image: linear-gradient(to top, #d64541 0%, #e74c3c 80%, #ff6f61 100%);
    border-color: #c0392b;
    color: white;
  }
  
  .delete:hover {
    box-shadow: inset 0 0 2px 2px #ff9f9f, 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
  
  .delete:active,
  .delete:focus {
    box-shadow: inset 0 0 3px 2px #a93226, 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
  }

  @media (max-width: 1021px) {
    .container {
      gap: 5rem;
    }
    .textName {
      width: 100%;
    }
    .textEmail {
      width: 100%;
    }
    .textGender {
      display: none;
     }
  }

  @media (max-width:950px) {
    .textEmail {
      display: none;
    }
    .button {
      width: 8vw;
    }
  }

  @media (max-width:607px) {
    .button {
      font-size: 10px;
    }
  }

  @media (max-width:500px) {
    .container {
      gap: 0;
    }
    .button {
      display: none;
    }
    .textName {
      width: 100%;
    }
  }

  @media (max-width:403px) {
    .textName {
      font-size: 1rem;
    }
  }