.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
    height: 60vh;
    border-radius: 0.4rem;
    background-color: rgb(215, 210, 210);
    overflow-y: auto;
}

.containerInternal{
    background-color: rgb(241, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 50vh;
    border-radius: 0.5rem;
}

.titleForm{
  height: 10vh;
  font-size: 2rem;
}

.containerRadio{
    margin-top: 1rem;
}

  .containerInput{
    margin-bottom: 1rem;    
  }

  .label{
    font-size: 1.5rem;
  }

  .input{
    margin-left: 0.3rem;
    width: 15rem;
    height: 4vh;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
  }

  .sexo{
    font-size: 1.5rem;
  }

  .inputRadio{
    background-color: red;
    font-size: 2rem;
    margin-right: 0.2rem;
    margin-left: 0.3rem;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 6rem;
    height: 3.5vh;
    border-radius: 30px;
    border: 1px solid;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1rem;
  }
  
  /* Botão Alterar (Amarelo) */
  .update {
    background-image: linear-gradient(to top, #d9ad1c 0%, #eaae16 80%, #f2e70d 100%);
    border-color: #e19a28;
    color: #333;
  }
  
  .update:hover {
    box-shadow: inset 0 0 2px 2px #eac93b, 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
  
  .update:active,
  .update:focus {
    box-shadow: inset 0 0 3px 2px #b57d10, 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
  }
  
  /* Botão Excluir (Vermelho) */
  .delete {
    background-image: linear-gradient(to top, #d64541 0%, #e74c3c 80%, #ff6f61 100%);
    border-color: #c0392b;
    color: white;
  }
  
  .delete:hover {
    box-shadow: inset 0 0 2px 2px #ff9f9f, 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
  
  .delete:active,
  .delete:focus {
    box-shadow: inset 0 0 3px 2px #a93226, 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.98);
  }
  
  .error{
    text-align: center;
    color: red;
  }

  .offUser{
    font-size: 1.5rem;
  }

  @media (max-width: 987px) {
    .container {
      width: 90vw;
    }

    .containerInternal {
      width: 70vw;
    }
  }

  @media (max-width:498px) {
    .titleForm {
      font-size: 1.5rem;
    }
 }

  @media (max-width:452px) {
    .containerInternal {
      width: 88vw;
    }
  }

  @media (max-width: 403px) {
    
  }