<div class="container">
    <div class="containerInterno">
        <div class="title"><a class="titleText" href="/">{{titulo}}</a></div>
        <nav class="navBar">
            <a class="list" [routerLink]="['/home']">Home</a>
            <a class="list" [routerLink]="['/listregister']">Lista de cadastrados</a>
            <a class="list" [routerLink]="['/about']">Sobre</a>
        </nav>
        <nav class="navBarSide">
            <div class="icon-wrapper">
                <img src="../../../assets/iconMenuSide.png" alt="Ícone de menu lateral">
            </div>
            <ul class="ulNavBarSide">
                <li class="liNavBarSide"><a class="list" [routerLink]="['/home']">Home</a></li>
                <li class="liNavBarSide"><a class="list" [routerLink]="['/listregister']">Lista de cadastrados</a></li>
                <li class="liNavBarSide"><a class="list" [routerLink]="['/about']">Sobre</a></li>
            </ul>
        </nav>
    </div>
</div>