<app-header></app-header>
<div class="centerPage">
   <div class="container">
      <div class="text">
         <p>
           Este projeto foi criado para facilitar o gerenciamento de cadastros de forma simples e prática. Aqui, você pode preencher seus dados em um formulário e, após o envio, acessar uma lista com todas as informações registradas.
         </p>
         <br>
         <p>
           Também é possível visualizar, editar ou remover qualquer item da lista com facilidade. Tudo foi pensado para oferecer uma experiência direta e organizada para quem precisa manter controle sobre os dados inseridos.
         </p>
       </div>
   </div>
</div>